<div class ="text-center padded">

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

</div>

<div class ="text-center padded">

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

</div>

<div class ="text-center padded">

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

  <a href="http://placehold.it/350x150" class="swipebox" title="My Caption">
    <img src="http://placehold.it/350x150" alt="image">
  </a>

</div>
