<div class="text-center">
  <h1>Francisco Dutary</h1>
  <img src="http://placehold.it/350x150" alt="" class="avatar-xl">
  <p><strong>AKA:</strong>Panchito</p>
  <p>Longboard</p>
  <p>Panama</p>
</div>
<div class="padded">
  <h2 class="text-center">Features</h2>
    <div class="container">
      <div class="row">
        <a href="/pages/album">
          <div class="col-xs-12 col-sm-4">
            <div class="card text-center" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>Yeguada session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: F. Dutary</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="col-xs-12 col-sm-4">
            <div class="card text-center" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>Yeguada session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: F. Dutary</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
        <a href="">
          <div class="col-xs-12 col-sm-4">
            <div class="card text-center" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>Yeguada session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: F. Dutary</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>

