<div class="banner" style="background-image: linear-gradient(-225deg, rgba(301,20,0,0.6) 0%, rgba(300,0,0,0.3) 50%), url(banner.jpg);">
  <div class="banner-content">
    <h1>PTY Brothers</h1>
    <p>Be part of the movement</p>
    <a href="/pages/photos" class="btn btn-danger btn-lg">Check us</a>
  </div>
</div>

<div class="categories padded text-center">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h2>Categories</h2>
        </div>
        <div class="col-xs-12 col-sm-3 ">
          <img src="http://placehold.it/80x200">
         </div>
        <div class="col-xs-12 col-sm-3">
          <img src="http://placehold.it/200x80">
         </div>
        <div class="col-xs-12 col-sm-3">
          <img src="http://placehold.it/80x200">
        </div>
      </div>
    </div>
  </div>
<hr>
<div class="">
  <h2 class="text-center">Recently added</h2>
    <div class="container">
      <div class="row">
        <a href="/pages/album" class="text-center">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>Yeguada session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: F. Dutary</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>
<hr>
<div class="sponsors padded">
<div class="container text-center">
  <div class="row">
      <div class="col-xs-12 col-sm-4">
        <img src="http://placehold.it/300x100">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="http://placehold.it/300x100">
      </div>
      <div class="col-xs-12 col-sm-4">
        <img src="http://placehold.it/300x100">
      </div>
    </div>
  </div>
 </div>

<!-- <div class="video text-center padded">
  <p class="video">Video</p>
  <img src="http://placehold.it/650x350">
</div>
 -->
  <div class="info events text-center padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <ul class="list-unstyled">
            <h2>Valle Slam</h2>
            <li><p><strong>Location:</strong>Las Nubes</p></li>
            <li><p><strong>Date:</strong>November, 6</p></li>
            <li><p><strong>Time:</strong>12:00 pm</p></li>
            <li><p><strong>Inscription:</strong>5$</p></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img src="http://placehold.it/250x300">
        </div>
      </div>
    </div>
  </div>

