<div class="text-center">
  <h1>Gallery</h1>
</div>
    <div class="container">
      <div class="row">
      <a href="/pages/album">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card text-center" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>Yeguada session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: F. Dutary</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>

    <div class="container">
      <div class="row">
      <a href="/pages/album"">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card text-center" style="background-color: #94C9E0;">
              <div class="card-category">
                <h1>Venao surf session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: C. Valdes</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>

    <div class="container">
      <div class="row">
      <a href="/pages/album"">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card text-center" style="background-color: #ED9590;">
              <div class="card-category">
                <h1>No patinar session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: G. Mendez</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
    <div class="container">
      <div class="row">
      <a href="/pages/album"">
          <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="card text-center" style="background-color: #919191;">
              <div class="card-category">
                <h1>City session</h1>
              </div>
              <div class="card-description">
                <h3>Rider: K. Vargas</h3>
                <h4>By: F. Dutary</h4>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
