<h1 class="text-center">Riders</h1>
<div class="text-center riders">
  <div>
    <h3>F. Dutary</h3>
    <a href="/pages/dutary">
      <img src="http://placehold.it/350x150" alt="" class="avatar-xl">
    </a>
  </div>
  <div>
    <h3>G. Mendez</h3>
    <img src="http://placehold.it/350x150" alt="" class="avatar-xl">
  </div>
</div>
<div class="text-center riders">
  <div>
      <h3>K. Vargas</h3>
      <img src="http://placehold.it/600x300" alt="" class="avatar-xl">
  </div>
  <div>
    <h3>C. Valdes</h3>
    <img src="http://placehold.it/350x150" alt="" class="avatar-xl">
  </div>
</div>
<hr>
